@{
    ViewData["Title"] = "GameRoom";
}

<div id="loginBlock">
    <input id="userName" type="hidden" class="form-control" value="@ViewBag.UserName" />
    <input id="idGame" type="hidden" class="form-control" value="" />
    <input id="nameOtherPlayer" type="hidden" class="form-control" value="" />
</div>

<div class="cross-head">
    <h3 id="header-game">Пожалуйста, подождите</h3>
</div>
<div class="cross-wrapper">
    <div>
        <div id="header"><h4>Привет, @ViewBag.UserName!</h4></div>
        <br />
    </div>
    <div class="cross-field">
        <table style="border: 2px solid white; border-collapse: collapse">
            @for(int i=0;i<3;i++)
            {
                <tr>
                    @for(int j=0;j<3;j++)
                    {
                        <td>
                            <div>
                                <input name="btnGame" class="btn btn-outline-primary" type="button" id=@(i.ToString()+j.ToString()) value="" disabled="disabled">
                                <script>
                                    document.getElementById('@(i.ToString() + j.ToString())').addEventListener("click", function (e) {
                                        document.getElementById("@(i.ToString() + j.ToString())").value = "X";
                                        for (let i = 0; i < btns.length; i++)
                                            btns[i].disabled = true;
                                        hubConnection.invoke("StepPlayer", document.getElementById("idGame").value, myName, "@(i.ToString() + j.ToString())");
                                    });
                                </script>
                            </div>
                        </td>
                    }
                    </tr>
            }
        </table>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
<script>
    const hubConnection = new signalR.HubConnectionBuilder()
    .withUrl("/gamecross")
        .build();
    
    let myName = document.getElementById("userName").value;
    let btns = document.getElementsByName("btnGame");

    hubConnection.on("Wait", function (idGame, Player1, Player2) {
        if(Player1===myName)
        {
            document.getElementById("header-game").innerHTML = "Ожидайте подключения второго игрока";
            document.getElementById("idGame").value = idGame;
        }
        if (Player2 === myName) {
            document.getElementById("header-game").innerHTML = "Проверка состояния второго игрока";
            document.getElementById("idGame").value = idGame;
            document.getElementById("nameOtherPlayer").value = Player1;
            hubConnection.invoke("PingPlayer1", document.getElementById("idGame").value, Player1);
        }
    });

    hubConnection.on("ConnectionTest", function (idGame, player1) {
        if(idGame === document.getElementById("idGame").value && myName === player1) 
        {
            hubConnection.invoke("GoGame", idGame);
        }
    });

    hubConnection.on("GoStep", function (idGame, nameGoPlayer, otherStep) {
        if (otherStep != "" && document.getElementById(otherStep).value === "")
            document.getElementById(otherStep).value = "O";
        if (idGame === document.getElementById("idGame").value) {
            if (nameGoPlayer === myName) {
                document.getElementById("header-game").innerHTML = "Ваш ход";
                for(let i=0; i<btns.length; i++)
                    if (btns[i].value == "")
                        btns[i].disabled=false;
            }
            else
            {
                document.getElementById("header-game").innerHTML = "Ожидайте, ход вашего противника";
            }
        }
    });

    hubConnection.on("End", function (idGame, winner, lostStep) {
        if (idGame === document.getElementById("idGame").value)
        {
            if (winner === myName)
                document.getElementById("header-game").innerHTML = "Вы выиграли!!!";
            else if (winner === "") {
                document.getElementById("header-game").innerHTML = "Ничья!!!";
            }
            else{
                document.getElementById(lostStep).value = "O";
                document.getElementById("header-game").innerHTML = "Вы проиграли!!!";
            }
            if (document.getElementById(lostStep).value == "")
                document.getElementById(lostStep).value = "O";
        }

    });



    hubConnection.start()
        .then(function () {
            hubConnection.invoke("Start", myName);
        })
        .catch(function (err) {
            return console.error(err.toString());
        });
</script>